*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    overflow: hidden;
    width: 1080px;
    height: 100vh;
    margin: 0 auto;
}
button{
    background: none;
    border: none;
    outline: none;
}

.swiper-container{
    position: static !important;
}

.swiper-button-prev{
    width: 90px !important;
    height: 158px !important;
    background: url("../img/icon/ico-arrowWrap.png") no-repeat center / cover !important;
    position: absolute !important;
    left: 0 !important;
    top: calc(50% - -25px) !important;
    transform: translateY(-50%) rotate(180deg) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.swiper-button-prev.white{
    background: url("../img/icon/ico-arrowWrap-w.png") no-repeat center / cover !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}
.swiper-button-prev::after{
    content: '' !important;
    width: 28px !important;
    height: 46px !important;
    background: url("../img/icon/ico-arrowWhite.png") no-repeat center / cover !important;
    display: block !important;
    transition: 0.5s ease !important;
}
.swiper-button-prev.white::after{
    content: '' !important;
    width: 28px !important;
    height: 46px !important;
    background: url("../img/icon/ico-arrowBlue.png") no-repeat center / cover !important;
    display: block !important;
    transition: 0.5s ease !important;
}
.swiper-button-next{
    width: 90px !important;
    height: 158px !important;
    background: url("../img/icon/ico-arrowWrap.png") no-repeat center / cover !important;
    position: absolute !important;
    top: calc(50% - -25px) !important;
    right: 0 !important;
    transform: translateY(-50%) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.swiper-button-next.white{
    background: url("../img/icon/ico-arrowWrap-w.png") no-repeat center / cover !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}
.swiper-button-next::after{
    content: '' !important;
    width: 28px !important;
    height: 46px !important;
    background: url("../img/icon/ico-arrowWhite.png") no-repeat center / cover !important;
    display: block !important;
    transition: 0.5s ease !important;
}
.swiper-button-next.white::after{
    content: '' !important;
    width: 28px !important;
    height: 46px !important;
    background: url("../img/icon/ico-arrowBlue.png") no-repeat center / cover !important;
    display: block !important;
    transition: 0.5s ease !important;
}
.swiper-pagination{
    bottom: 410px !important;
    left: 50%;
    transform: translateX(-50%) !important;
}
.swiper-pagination-bullet{
    width: 16px !important;
    height: 16px !important;
    border-radius: 100% !important;
    margin-right: 8px !important;
    background-color: #374467 !important;
}
.swiper-pagination-bullet:last-child{
    margin-right: 0px !important;
}
.swiper-pagination-bullet-active{
    background-color: #fff !important;
}
.camera-result-container-body .swiper-pagination-bullet-active{
    background-color: #5769ff !important;
}
.camera-result-container-body .swiper-slide-active{
    box-shadow: 0px 33px 40px 5px rgba(0, 0, 0, 0.15);
}
.camera-result-container-body .swiper-pagination{
    bottom:500px !important;
}
.camera-result-container-body .camera-result-pagination{
    bottom: 450px !important;
}